{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Team{% endblock %}

{% block content %}
    <h1>Team</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_team_index') }}"><button class="btn btn-dark my-2 my-sm-0" type="submit">Back to list</button></a>

    <a href="{{ path('backend_team_edit', {'id': team.id}) }}">edit</a>

    {{ include('backend/team/_delete_form.html.twig') }}
{% endblock %}
