{% extends 'backend/backend_layout.html.twig' %}

{% block title %}New Casting{% endblock %}

{% block content %}
    <h1>Create new Casting</h1>

    {{ include('backend/casting/_form.html.twig') }}

    <a href="{{ path('backend_casting_index', { 'id' : movie.id }) }}"><button class="btn btn-dark my-2 my-sm-0" type="submit">Back to list</button></a>
{% endblock %}